@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Estilos personalizados para la barra de desplazamiento */
/* Para navegadores basados en WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #D1BA7B;
  border-radius: 10px;
  border: 2px solid #F5F5F5;
}

::-webkit-scrollbar-thumb:hover {
  background: #A89663;
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #D1BA7B #F5F5F5;
}
